In [2]:
import pandas as pd

# Load the encoded data provided by the user
encoded_data_path = './trb_vdj_kmer_mhc.csv'
encoded_data = pd.read_csv(encoded_data_path)

# Display the first few rows of the dataframe to understand its structure
encoded_data.head()

,complex.id,gene,cdr3,j.segm,species,mhc.a,mhc.b,mhc.class,antigen.epitope,antigen.gene,...,j.segm_2,j.segm_3,mhc.a_0,mhc.a_1,mhc.a_2,mhc.a_3,mhc.a_4,mhc.a_5,mhc.a_6,mhc.b_label
0,0,1,CATSDASLSSYNEQFF,TRBJ2-1*01,0,HLA-A*01,B2M,0,ATDALMTGY,NS3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
1,0,1,CASSLRTAGYNEQFF,TRBJ2-1*01,0,HLA-A*01,B2M,0,ATDALMTGY,NS3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
2,0,1,CASSLWGADGYTF,TRBJ1-2*01,0,HLA-A*01,B2M,0,ATDALMTGY,NS3,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
3,0,1,CATSSAAQETQYF,TRBJ2-5*01,0,HLA-A*01,B2M,0,TDLGQNLLY,HEXON,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
4,0,1,CASRSLLGTRVETEAFF,TRBJ1-1*01,0,HLA-A*01,B2M,0,ATDALMTGY,NS3,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0